# Python
__pycache__/
*.pyc
.pytest_cache/
.venv/
venv/

# Environment
.env
config/config.local.yaml

# OS / editors
.DS_Store
.vscode/
.idea/

# Data and results
data/raw/*
data/interim/*
data/processed/*
structures/downloads/*
databases/optional_large_db/*
results/foldseek/*
results/tables/*
results/reports/*
logs/*

# Keep folders
!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep
!structures/downloads/.gitkeep
!databases/optional_large_db/.gitkeep
!results/foldseek/.gitkeep
!results/tables/.gitkeep
!results/reports/.gitkeep
!logs/.gitkeep

# Local MMseqs working files
work/

# Large derived CeMbio tables
docs/tables/proteome_cluster_membership_strategy.tsv
docs/tables/proteome_cluster_membership_strategy_no_sequence.tsv
docs/tables/proteome_structure_search_representatives_50.tsv
docs/tables/proteome_structure_search_representatives_50_no_sequence.tsv

# Large FASTA files
*.fasta
*.fa
*.faa

# External spreadsheets
*.xlsx
*.xls
